<footer id="footer" class="homepage-footer bg-darkblue margin-top">
  <div class="custom-container">
    <div class="row d-flex justify-content-between">
      <ul class="col-lg-2 col-md-2">
        <li class="list-item">
          <a href="#homepage">
            <img
              src="../assets/homepage-assets/footer-img.svg"
              alt="footer-logo"
          /></a>
        </li>
      </ul>
      <ul class="col-lg-2 col-md-2 col-5">
        <li class="list-item mb-4 pb-2">Support</li>
        <li class="list-item1">feedback</li>
        <li class="list-item1">performance</li>
        <li class="list-item1">talk</li>
        <li class="list-item1">ticket</li>
        <li class="list-item1">knowledge</li>
      </ul>
      <ul class="col-lg-2 col-md-2 col-5">
        <li class="list-item mb-4 pb-2">Growth</li>
        <li class="list-item1">report</li>
        <li class="list-item1">email</li>
        <li class="list-item1">schedule</li>
        <li class="list-item1">books</li>
        <li class="list-item1">accounts</li>
      </ul>
      <ul class="col-lg-2 col-md-2 col-5">
        <li class="list-item mb-4 pb-2">Manage</li>
        <li class="list-item1">users</li>
        <li class="list-item1">talent</li>
        <li class="list-item1">contact</li>
      </ul>
      <ul class="col-lg-3 col-md-3 col-5">
        <li class="list-item mb-4 pb-2">Resources</li>
        <li class="list-item1">Contact us</li>
        <li class="list-item1">FAQ</li>
        <li class="list-item1">Pricing</li>
        <li class="list-item1">Customer Stories</li>
      </ul>
    </div>
    <div class="hr-div">
      <hr />
    </div>
    <div class="row d-flex justify-content-between">
      <ul class="col-lg-3 col-md-5">
        <li class="list-item2">
          <p>&copy; 2021 Hoolio, All Rights Reserved</p>
        </li>
      </ul>
      <ul class="col-lg-4 col-md-5 col-10 d-flex justify-content-between">
        <li class="list-item2">Terms and Conditions</li>
        <li class="list-item2">Privacy</li>
        <li class="list-item2">
          <a href="#"
            ><img
              src="../assets/homepage-assets/twitter-logo.svg"
              alt="twitter"
          /></a>
        </li>
        <li class="list-item2">
          <a href="#"
            ><img src="../assets/homepage-assets/fb-logo.svg" alt="facebook"
          /></a>
        </li>
        <li class="list-item2">
          <a href="#"
            ><img src="../assets/homepage-assets/google-logo.svg" alt="google"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
