ul {
  list-style-type: none;
}

hr {
  border: 1px solid #2f2f31;
}

.bg-darkblue {
  background-color: #171e40;
}

.margin-top {
  margin-top: 4.3%;
}

.homepage-footer {
  padding-top: 4%;
}

.hr-div {
  margin-top: 2.5%;
}

.list-item {
  font-family: Brown;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.500211px;
  color: #ffffff;
}

.list-item1 {
  font-family: Brown;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.500211px;
  color: rgba(255, 255, 255, 0.7);
}

.list-item2 {
  font-family: Brown;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 38px;
  letter-spacing: -0.406421px;
  color: rgba(255, 255, 255, 0.7);
}

.custom-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 5%;
}
