<section id="homepage" class="hero-sec">
  <app-nav-bar></app-nav-bar>
  <div class="hero-bg-img">
    <img
      src="../../../assets/homepage-assets/Group2.svg"
      alt="hero background image"
    />
  </div>
  <div class="container hero-margin-top">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-6 mt-5">
        <p class="text-uppercase hero-p">we help you</p>
        <h1 class="heading-text">
          <span class="heading-text-span">Create and deliver</span> <br />
          your invoices with ease
        </h1>
        <p class="hero-p2">
          We offer automatic invoice deliveries. You create and schedule your
          invoice at your convenience, and we deliver it to your desired
          address. It is easy, fast and secured.
        </p>
        <div class="col-lg-6 mt-5 pt-2 vanish">
          <img
            src="../assets/homepage-assets/invoiceboy.svg"
            alt="invoice boy"
          />
        </div>
        <form class="mt-5 pt-4" action="#">
          <div class="row">
            <label class="label-cta" for="signup">Sign up to get started</label>
            <div class="col-lg-7 col-md-6">
              <input
                class="place-holder"
                type="email"
                id="signup"
                name="email"
                placeholder="Enter your email"
              />
            </div>
            <div class="col-lg-3 col-md-3 bttn-margin-top">
              <button class="bttn-dark">Get Started</button>
            </div>
          </div>
        </form>
        <h5 class="heading5-text mt-2">
          We care about the protection of your data. Read our
          <a class="link-text" href="">Privacy Policy.</a>
        </h5>
      </div>
      <div class="col-lg-6 mt-5 pt-2 vanish2">
        <img src="../assets/homepage-assets/invoiceboy.svg" alt="invoice boy" />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
